{% extends "layouts/master.html" %}
{% block title %}All Posts{% endblock %}
{% block content %}
  <h2>All Posts</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Content</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          
          <td>{{ post.title }}</td>
          <td>{{ post.author }}</td>
          <td>{{ post.content }}</td>
          <td>{{ post.created_at|date:"Y-m-d H:i" }}</td>
          {% comment %} <td>
            <a href="{% url 'posts:show' post.id %}">{{ post.title }}</a>
          </td> {% endcomment %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
